body {
    font-family: Arial, sans-serif;
    margin-top: 115px;
    padding: 150px;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    background-color:white;
    
}

.container {
    display: flex;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-column, .right-column {
    padding: 20px;
    width: 50%;
}

.left-column {
    color: aliceblue;
    background-color:blue;
    
}

.right-column {
    color: aliceblue;
    background-color: #c32892;
    padding-left:50px;
}
